<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        بن سلمان للأقمشة والمطرزات بحضرموت
    </title>


    <link rel="stylesheet" href="/static/customer/css/style.css?v=2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


</head>


<body>

<!-- ===============================
     الرأس الفاخر
================================ -->

<!-- ===============================
     الرأس الفاخر
================================ -->

<header class="customer-header">


    <div class="brand">


        <img 
        src="/static/customer/images/logo.png"
        alt="بن سلمان للأقمشة والمطرزات"
        class="logo-image"
        >


        <div class="brand-name">

            بن سلمان

            <span>
   للأقمشة والمطرزات بحضرموت -لكل الالوان           </span>

        </div>


    </div>



    <nav>


        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
            <span>الرئيسية</span>
        </a>


       <a href="/customer/categories">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-bar-stacked-icon lucide-chart-bar-stacked"><path d="M11 13v4"/><path d="M15 5v4"/><path d="M3 3v16a2 2 0 0 0 2 2h16"/><rect x="7" y="13" width="9" height="4" rx="1"/><rect x="7" y="5" width="12" height="4" rx="1"/></svg>
    <span>الأقسام</span>
</a>


        <a href="/products">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-basket-icon lucide-shopping-basket"><path d="m15 11-1 9"/><path d="m19 11-4-7"/><path d="M2 11h20"/><path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4"/><path d="M4.5 15.5h15"/><path d="m5 11 4-7"/><path d="m9 11 1 9"/></svg>
            <span>المنتجات</span>
        </a>


        <a href="/cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
            <span>السلة</span>
        </a>


    </nav>


</header>




<main>


{% block content %}


{% endblock %}


</main>




<footer class="footer">


    <div class="footer-box brand-footer">


        <img 
        src="/static/customer/images/logo.png"
        alt="الشعار"
        >


        <h3>
            بن سلمان
        </h3>


        <p> 
        
  للأقمشة والمطرزات بحضرموت    </p>


        <span>
           لكل الالوان
        </span>


    </div>





    <div class="footer-box about-footer">


    <small>
        تعرف علينا اضغط اسفل على من نحن ↧
    </small>

    <a href="/about">
        <h3>
            من نحن
        </h3>
    </a>

</div>
</a>


        <p>
           ✓ نوفر لكم أفخم الأقمشة النسائية 
            والخامات الفاخرة.
        </p>


        <p>
            ✓ أقمشة مميزة بجودة عالية
        </p>


        <p>
            ✓خامات صافية بكل الالوان 
        </p>


        <p>
            ✓ توصيل سريع وآمن
        </p>


    </div>






    <div class="footer-box">


        <h3>
            تواصل معنا
        </h3>



<div class="social-icons">

    <a href="https://wa.me/967783282649" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
    </a>

    <a href="https://instagram.com/bn_slman90" target="_blank">
        <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://facebook.com/bn_slman90" target="_blank">
        <i class="fa-brands fa-facebook"></i>
    </a>

    <a href="https://www.tiktok.com/@bn_slman90" target="_blank">
        <i class="fa-brands fa-tiktok"></i>
    </a>

    

</div>




    <div class="copyright">

        © 2026 بن سلمان للأقمشة والمطرزات - جميع الحقوق محفوظة

    </div>



</footer>




<script src="/static/customer/js/main.js"></script>


</body>


</html>